<!-- <section id="team" class="pb-5">
    <div class="container-fluid">
<p>
  testing works! 
  
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
      <button type="button" pButton icon="fa-close" label="No" (click)="cd.confirm()"></button>
      <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.confirm()"></button>
  </p-footer>
</p-confirmDialog>

</p>
</div> -->

<!-- <h3>Basic</h3>
<p-progressSpinner></p-progressSpinner> -->
<p-growl [value]="msgs"></p-growl>
    
<p-confirmDialog></p-confirmDialog>

<button type="text" class="btn btn-danger" (click)="confirm()" pButton label="Confirm"><i class="fa fa-trash" aria-hidden="true"></i></button>