<app-topnav></app-topnav>
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container-fluid">
        <h1 class="text-center">Schedule for July 2019</h1>

        <div class="ui-g collapse">
            <div class="ui-g-12 ui-md-4 ui-md-offset-9">
                <p-fieldset [toggleable]="true" [collapsed]="true">
                    <p-header>Change Period</p-header>
                    <form [formGroup]="formPeriod">

                        <div class="ui-g">
                            <div class="ui-g-3">
                                <label for="month">Month </label>
                            </div>
                            <div class="ui-g-9">
                                <select id="month" name="month" formControlName="bulan">
                                <option value="" disabled="true">-- Select Month --</option>
                                <option value="JANUARI">January</option>
                                <option value="FEBRUARI">February</option>
                                <option value="MARET">March</option>
                                <option value="APRIL">April</option>
                                <option value="MEI">May</option>
                                <option value="JUNI">June</option>
                                <option value="JULI">July</option>
                                <option value="AGUSTUS">August</option>
                                <option value="SEPTEMBER">September</option>
                                <option value="OKTOBER">October</option>
                                <option value="NOVEMBER">November</option>
                                <option value="DESEMBER">Desember</option>
                              </select>
                            </div>

                        </div>

                        <div class="ui-g">
                            <div class="ui-g-3">
                                <label for="year">Year </label>
                            </div>
                            <div class="ui-g-9">
                                <select id="year" name="year" formControlName="tahun">
                                <option value="" disabled="true">-- Select Year --</option>
                                <option *ngFor="let year of years; first as isFirst" value="{{year}}" [selected]="isFirst ? true : false">
                                  {{year}}
                                </option>
                              </select>
                            </div>
                        </div>
                    </form>
                </p-fieldset>
            </div>
        </div>

        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add New Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid align-content-center">

                            <table>
                                <tr>
                                    <td><label for="kodeTask">Kode</label></td>
                                    <td>:</td>
                                    <td><input type="text" name="jenisTask"></td>
                                </tr>
                                <tr>
                                    <td><label for="jenisTask">Nama</label></td>
                                    <td>:</td>
                                    <td><input type="text" name="jenisTask"></td>
                                </tr>
                            </table>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-1 ui-md-offset-11">
                <button pButton type="button" icon="fa-check" label="Save" class="ui-button-succes"></button>
            </div>
        </div>

        <p-carousel *ngIf="isClientReady" headerText="Silahkan pilih client yang akan ditangani :" [value]="listClient" numVisible="3" circular="true" pageLinks="5">
            <ng-template let-item pTemplate="item">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12" style="text-align: center"><img *ngIf="mapLogo.has(item.client.idClient)" src="data:image/png;base64,{{mapLogo.get(item.client.idClient)}}" alt="{{item.client.kodeClient}}" width="100" height="100"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12" style="text-align: center">{{item.client.kodeClient}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12" style="text-align: center">{{item.client.nama}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12" *ngIf="item.tasks; else elseBlock">
                            <div class="text-center">
                                <button [id]="'btn-' + item.tasks.idHdr" [class]="item.tasks.idHdr + ' collapse'" type="button" pButton icon="fa-plus" label="Add this Client" data-toggle="collapse" [attr.data-target]="'.' + item.tasks.idHdr" style="align-middle" aria-expanded="true"
                                    [attr.aria-controls]="'panel-' + item.tasks.idHdr + ' btn-' + item.tasks.idHdr"></button>
                            </div>

                            <p-panel [id]="'panel-' + item.tasks.idHdr" [class]="item.tasks.idHdr + ' collapse show'">
                                <p-header>
                                    <div class="ui-helper-clearfix">
                                        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Detail Schedule</span>
                                        <button pButton type="button" icon="fa-close" label="Remove" class="ui-button-danger" style="float: right" data-toggle="collapse" [attr.data-target]="'.' + item.tasks.idHdr" aria-expanded="false" [attr.aria-controls]="'panel-' + item.tasks.idHdr + ' btn-' + item.tasks.idHdr"></button>
                                    </div>
                                </p-header>
                                <form [formGroup]="formHdr">

                                    <!-- <div *ngFor="let detail of item.tasks.dtlCreateTask">
                                        <p-panel [toggleable]="true" expandIcon="fa-chevron-down" collapseIcon="fa-chevron-right">
                                            <p-header>
                                                <p-checkbox name="task" value="{{detail.task.kodeTask}}" label="{{detail.task.jenisTask}}" inputId="{{detail.task.idTask}}"></p-checkbox>
                                            </p-header>

                                            <form [formGroup]="formDtl">
                                                <table>
                                                    <tr>
                                                        <td><label for="startdate">Start Date</label></td>
                                                        <td>:</td>
                                                        <td>
                                                            <p-calendar formControlName="tglAwal" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" [showIcon]="true"></p-calendar>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><label for="finishDate">Estimate Finish Date</label></td>
                                                        <td>:</td>
                                                        <td>
                                                            <p-calendar formControlName="tglAkhir" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" [showIcon]="true"></p-calendar>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <p-footer>
                                                    <label for="keterangan">Description </label>
                                                    <textarea class="form-control" name="keterangan" id="txtareadesc" cols="30" rows="5" value="detail.keterangan"></textarea>
                                                </p-footer>
                                            </form>
                                        </p-panel>
                                    </div> -->

                                    <div *ngFor="let task of tasks">
                                        <p-panel [toggleable]="true" expandIcon="fa-chevron-down" collapseIcon="fa-chevron-right" collapsed="true">
                                            <p-header>
                                                <p-checkbox name="task" value="{{task.kodeTask}}" label="{{task.jenisTask}}" inputId="{{task.idTask}}"></p-checkbox>
                                            </p-header>

                                            <form [formGroup]="formDtl">
                                                <table>
                                                    <tr>
                                                        <td><label for="startdate">Start Date</label></td>
                                                        <td>:</td>
                                                        <td>
                                                            <p-calendar formControlName="tglAwal" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" [showIcon]="true"></p-calendar>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><label for="finishDate">Estimate Finish Date</label></td>
                                                        <td>:</td>
                                                        <td>
                                                            <p-calendar formControlName="tglAkhir" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" [showIcon]="true"></p-calendar>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <p-footer>
                                                    <div>
                                                        <label for="keterangan">Description </label>
                                                    </div>

                                                    <div>
                                                        <textarea class="form-control" name="keterangan" id="txtareadesc" cols="30" rows="5"></textarea>
                                                    </div>
                                                </p-footer>
                                            </form>
                                        </p-panel>
                                    </div>
                                </form>

                                <p-footer>
                                    <button pButton type="button" icon="fa-plus" label="Add New Task" class="ui-button-primary" data-toggle="modal" data-target="#createModal"></button>
                                </p-footer>
                            </p-panel>

                        </div>

                        <ng-template #elseBlock>
                            <div class="ui-grid-col-12">

                                <div class="text-center">
                                    <button [id]="'btn-' + item.client.idClient" [class]="item.client.idClient + ' collapse show'" type="button" pButton icon="fa-plus" label="Add this Client" data-toggle="collapse" [attr.data-target]="'.' + item.client.idClient" style="align-middle" aria-expanded="true"
                                        [attr.aria-controls]="'panel-' + item.client.idClient + ' btn-' + item.client.idClient"></button>
                                </div>

                                <p-panel [id]="'panel-' + item.client.idClient" [class]="item.client.idClient + ' collapse'">
                                    <p-header>
                                        <div class="ui-helper-clearfix">
                                            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Detail Schedule</span>
                                            <button pButton type="button" icon="fa-close" label="Remove" class="ui-button-danger" style="float: right" data-toggle="collapse" [attr.data-target]="'.' + item.client.idClient" aria-expanded="false" [attr.aria-controls]="'panel-' + item.client.idClient + ' btn-' + item.client.idClient"></button>
                                        </div>
                                    </p-header>

                                    <form [formGroup]="formHdr">

                                        <div *ngFor="let task of tasks">
                                            <p-panel [toggleable]="true" expandIcon="fa-chevron-down" collapseIcon="fa-chevron-right" collapsed="true">
                                                <p-header>
                                                    <p-checkbox name="task" value="{{task.kodeTask}}" label="{{task.jenisTask}}" inputId="{{task.idTask}}"></p-checkbox>
                                                </p-header>

                                                <form [formGroup]="formDtl">
                                                    <table>
                                                        <tr>
                                                            <td><label for="startdate">Start Date</label></td>
                                                            <td>:</td>
                                                            <td>
                                                                <p-calendar formControlName="tglAwal" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" [showIcon]="true"></p-calendar>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><label for="finishDate">Estimate Finish Date</label></td>
                                                            <td>:</td>
                                                            <td>
                                                                <p-calendar formControlName="tglAkhir" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" [showIcon]="true"></p-calendar>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <p-footer>
                                                        <div>
                                                            <label for="keterangan">Description </label>
                                                        </div>

                                                        <div>
                                                            <textarea class="form-control" name="keterangan" id="txtareadesc" cols="30" rows="5"></textarea>
                                                        </div>
                                                    </p-footer>
                                                </form>
                                            </p-panel>
                                        </div>
                                    </form>
                                    <p-footer>
                                        <button pButton type="button" icon="fa-plus" label="Add New Task" class="ui-button-primary" data-toggle="modal" data-target="#createModal"></button>
                                    </p-footer>
                                </p-panel>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </ng-template>
        </p-carousel>

    </div>
</section>
