<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container-fluid">
        <h5 class="section-title h1">LIST COMPANY</h5>               

        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let company of companys">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="data:image/png;base64,{{company.logo}}" alt="card image"></p>
                                    <h4 class="card-title">{{company.client.nama}}</h4>                                                                        
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Task In This Month! <a routerLink="/company/scheduleindex" class="btn btn-primary btn-sm"><i class="fa fa-calendar" style="color:white"></i></a></h4>                                                                        
                                        <div class="scrollaccordion overflow-auto" >
                                            <div id="accordion">                                        
                                                    <div class="card-header" role="tab" id="section1HeaderId">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link" data-toggle="collapse"  data-target="#section1ContentId" aria-expanded="false" aria-controls="section1ContentId">
                                                                Task 1                                                                 
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="section1ContentId" class="collapse" aria-labelledby="section1HeaderId" data-parent="#accordion">
                                                        <div class="card-body">                                                            
                                                            <div class="accordioncontenthdr"> 2019/05/01 - 2019/05/15<button class="btn btn-link fa fa-pencil" align="right"></button> </div>                                                             
                                                            <div class="accordioncontentdtl"> Mengerjakan Payroll kelas direktur dan manager</div>                                                             
                                                        </div>
                                                    </div>    
                                                    
                                                    <div class="card-header" role="tab" id="section2HeaderId">
                                                            <h5 class="mb-0">
                                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section2ContentId" aria-expanded="false" aria-controls="section2ContentId">
                                                                    Section 2
                                                                </button>
                                                            </h5>
                                                        </div>
                                                        <div id="section2ContentId" class="collapse" aria-labelledby="section2HeaderId" data-parent="#accordion">
                                                            <div class="card-body">
                                                                Section 2 content
                                                            </div>
                                                        </div>    

                                                        <div class="card-header" role="tab" id="section3HeaderId">
                                                                <h5 class="mb-0">
                                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section3ContentId" aria-expanded="false" aria-controls="section3ContentId">
                                                                        Section 3
                                                                    </button>
                                                                </h5>
                                                            </div>
                                                            <div id="section3ContentId" class="collapse" aria-labelledby="section3HeaderId" data-parent="#accordion">
                                                                <div class="card-body">
                                                                    Section 3 content
                                                                </div>
                                                            </div>    

                                                            <div class="card-header" role="tab" id="section4HeaderId">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section4ContentId" aria-expanded="false" aria-controls="section4ContentId">
                                                                            Section 4
                                                                        </button>
                                                                    </h5>
                                                                </div>
                                                                <div id="section4ContentId" class="collapse" aria-labelledby="section4HeaderId" data-parent="#accordion">
                                                                    <div class="card-body">
                                                                        Section 4 content
                                                                    </div>
                                                                </div>    
                                                                
                                                                <div class="card-header" role="tab" id="section4HeaderId">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section4ContentId" aria-expanded="false" aria-controls="section4ContentId">
                                                                            Section 4
                                                                        </button>
                                                                    </h5>
                                                                </div>
                                                                <div id="section4ContentId" class="collapse" aria-labelledby="section4HeaderId" data-parent="#accordion">
                                                                    <div class="card-body">
                                                                        Section 4 content
                                                                    </div>
                                                                </div>    

                                                                <div class="card-header" role="tab" id="section4HeaderId">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section4ContentId" aria-expanded="false" aria-controls="section4ContentId">
                                                                            Section 4
                                                                        </button>
                                                                    </h5>
                                                                </div>
                                                                <div id="section4ContentId" class="collapse" aria-labelledby="section4HeaderId" data-parent="#accordion">
                                                                    <div class="card-body">
                                                                        Section 4 content
                                                                    </div>
                                                                </div>    
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- ./Team member -->


             <!-- Team member -->
             <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRzaGslSWK5jm_bQQrx_rmsYuyhwBNw-8vy2bXtEEPK698iQrp" alt="card image"></p>
                                    <h4 class="card-title">Prudential Indonesia</h4>                                                                        
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Task In This Month! <a routerLink="/company/scheduleindex" class="btn btn-primary btn-sm"><i class="fa fa-calendar" style="color:white"></i></a></h4>                                                                        
                                        <div class="scrollaccordion overflow-auto" >
                                            <div id="accordion">                                        
                                                    <div class="card-header" role="tab" id="section1HeaderId">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link" data-toggle="collapse"  data-target="#section1ContentId" aria-expanded="false" aria-controls="section1ContentId">
                                                                Task 1                                                                 
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="section1ContentId" class="collapse" aria-labelledby="section1HeaderId" data-parent="#accordion">
                                                        <div class="card-body">                                                            
                                                            <div class="accordioncontenthdr"> 2019/05/01 - 2019/05/15<button class="btn btn-link fa fa-pencil" align="right"></button> </div>                                                             
                                                            <div class="accordioncontentdtl"> Mengerjakan Payroll kelas direktur dan manager</div>                                                             
                                                        </div>
                                                    </div>    
                                                    
                                                    <div class="card-header" role="tab" id="section2HeaderId">
                                                            <h5 class="mb-0">
                                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section2ContentId" aria-expanded="false" aria-controls="section2ContentId">
                                                                    Section 2
                                                                </button>
                                                            </h5>
                                                        </div>
                                                        <div id="section2ContentId" class="collapse" aria-labelledby="section2HeaderId" data-parent="#accordion">
                                                            <div class="card-body">
                                                                Section 2 content
                                                            </div>
                                                        </div>    

                                                        <div class="card-header" role="tab" id="section3HeaderId">
                                                                <h5 class="mb-0">
                                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section3ContentId" aria-expanded="false" aria-controls="section3ContentId">
                                                                        Section 3
                                                                    </button>
                                                                </h5>
                                                            </div>
                                                            <div id="section3ContentId" class="collapse" aria-labelledby="section3HeaderId" data-parent="#accordion">
                                                                <div class="card-body">
                                                                    Section 3 content
                                                                </div>
                                                            </div>    

                                                            <div class="card-header" role="tab" id="section4HeaderId">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section4ContentId" aria-expanded="false" aria-controls="section4ContentId">
                                                                            Section 4
                                                                        </button>
                                                                    </h5>
                                                                </div>
                                                                <div id="section4ContentId" class="collapse" aria-labelledby="section4HeaderId" data-parent="#accordion">
                                                                    <div class="card-body">
                                                                        Section 4 content
                                                                    </div>
                                                                </div>    
                                                                
                                                                <div class="card-header" role="tab" id="section4HeaderId">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section4ContentId" aria-expanded="false" aria-controls="section4ContentId">
                                                                            Section 4
                                                                        </button>
                                                                    </h5>
                                                                </div>
                                                                <div id="section4ContentId" class="collapse" aria-labelledby="section4HeaderId" data-parent="#accordion">
                                                                    <div class="card-body">
                                                                        Section 4 content
                                                                    </div>
                                                                </div>    

                                                                <div class="card-header" role="tab" id="section4HeaderId">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section4ContentId" aria-expanded="false" aria-controls="section4ContentId">
                                                                            Section 4
                                                                        </button>
                                                                    </h5>
                                                                </div>
                                                                <div id="section4ContentId" class="collapse" aria-labelledby="section4HeaderId" data-parent="#accordion">
                                                                    <div class="card-body">
                                                                        Section 4 content
                                                                    </div>
                                                                </div>    
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- ./Team member -->


             <!-- Team member -->
             <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://upload.wikimedia.org/wikipedia/id/thumb/b/bf/KFC_logo.svg/1024px-KFC_logo.svg.png" alt="card image"></p>
                                    <h4 class="card-title">Fast Food Indonesia</h4>                                                                        
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Task In This Month! <a routerLink="/company/scheduleindex" class="btn btn-primary btn-sm"><i class="fa fa-calendar" style="color:white"></i></a></h4>                                                                        
                                        <div class="scrollaccordion overflow-auto" >
                                            <div id="accordion">                                        
                                                    <div class="card-header" role="tab" id="section1HeaderId">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link" data-toggle="collapse"  data-target="#section1ContentId" aria-expanded="false" aria-controls="section1ContentId">
                                                                Task 1                                                                 
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="section1ContentId" class="collapse" aria-labelledby="section1HeaderId" data-parent="#accordion">
                                                        <div class="card-body">                                                            
                                                            <div class="accordioncontenthdr"> 2019/05/01 - 2019/05/15<button class="btn btn-link fa fa-pencil" align="right"></button> </div>                                                             
                                                            <div class="accordioncontentdtl"> Mengerjakan Payroll kelas direktur dan manager</div>                                                             
                                                        </div>
                                                    </div>    
                                                    
                                                    <div class="card-header" role="tab" id="section2HeaderId">
                                                            <h5 class="mb-0">
                                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section2ContentId" aria-expanded="false" aria-controls="section2ContentId">
                                                                    Section 2
                                                                </button>
                                                            </h5>
                                                        </div>
                                                        <div id="section2ContentId" class="collapse" aria-labelledby="section2HeaderId" data-parent="#accordion">
                                                            <div class="card-body">
                                                                Section 2 content
                                                            </div>
                                                        </div>    

                                                        <div class="card-header" role="tab" id="section3HeaderId">
                                                                <h5 class="mb-0">
                                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section3ContentId" aria-expanded="false" aria-controls="section3ContentId">
                                                                        Section 3
                                                                    </button>
                                                                </h5>
                                                            </div>
                                                            <div id="section3ContentId" class="collapse" aria-labelledby="section3HeaderId" data-parent="#accordion">
                                                                <div class="card-body">
                                                                    Section 3 content
                                                                </div>
                                                            </div>    

                                                            <div class="card-header" role="tab" id="section4HeaderId">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section4ContentId" aria-expanded="false" aria-controls="section4ContentId">
                                                                            Section 4
                                                                        </button>
                                                                    </h5>
                                                                </div>
                                                                <div id="section4ContentId" class="collapse" aria-labelledby="section4HeaderId" data-parent="#accordion">
                                                                    <div class="card-body">
                                                                        Section 4 content
                                                                    </div>
                                                                </div>    
                                                                
                                                                <div class="card-header" role="tab" id="section4HeaderId">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section4ContentId" aria-expanded="false" aria-controls="section4ContentId">
                                                                            Section 4
                                                                        </button>
                                                                    </h5>
                                                                </div>
                                                                <div id="section4ContentId" class="collapse" aria-labelledby="section4HeaderId" data-parent="#accordion">
                                                                    <div class="card-body">
                                                                        Section 4 content
                                                                    </div>
                                                                </div>    

                                                                <div class="card-header" role="tab" id="section4HeaderId">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#section4ContentId" aria-expanded="false" aria-controls="section4ContentId">
                                                                            Section 4
                                                                        </button>
                                                                    </h5>
                                                                </div>
                                                                <div id="section4ContentId" class="collapse" aria-labelledby="section4HeaderId" data-parent="#accordion">
                                                                    <div class="card-body">
                                                                        Section 4 content
                                                                    </div>
                                                                </div>    
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- ./Team member -->

            <!-- Team member -->
            <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://upload.wikimedia.org/wikipedia/id/thumb/b/bf/KFC_logo.svg/1024px-KFC_logo.svg.png" alt="card image"></p>
                                    <h4 class="card-title">Prudential Indonesia</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                            
       </div> -->

       