<section id="team" class="pb-5">
    <div class="container-fluid">
        <p-growl [value]="msgs"></p-growl>
    
        <p-confirmDialog></p-confirmDialog>
      <h1>List User</h1>
      <!-- <br><br><br><br><br><br><br><br> -->
            <div class="float-left" >
                <button type="submit" class="btn btn-primary" routerLink="/user/form">Create New User</button>                        
            </div>          
  
            <div class="form-group has-search float-right">
                <!-- <span class="ui-float-label fa fa-search form-control-feedback"></span>
                <input #gb type="text" class="form-control col-sm-12">
                <label for="gb">Search</label> -->
                <span class="ui-float-label ">
                    <input #gb id="float-input" type="text" size="30" pInputText> 
                    <label for="float-input" class="fa fa-search">Search</label>
                </span>
              </div>

              <div class="table-inverse">
                <table class="table">              
              <p-dataTable sortMode="multiple" [value]="users" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20,50]" [globalFilter]="gb">    
                  <p-column header="Number" [style]="{'width':'9%'}">
                      <ng-template let-i="rowIndex" pTemplate="body">
                        {{i+1}}  
                      </ng-template>
                  </p-column>
                  <!-- <p-column field="idUser" header="User"></p-column> -->
                  <p-column field="email" header="Email" [sortable]="true"></p-column>
                  <p-column field="userType" header="User Type" [sortable]="true"></p-column>
                  <p-column field="" header="Action">

                    <ng-template let-userr="rowData" pTemplate>
                      <div class="my-center-text">
                        <button type="button" class="btn btn-primary btn-circle btn-lg" routerLink="/userform"><i class="fa fa-pencil"></i></button>
                        <button type="submit" (click)="confirmDelete(userr.idUser, userr.email)" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-trash"></i></button>
                      </div>
                    </ng-template>
                  </p-column>
              </p-dataTable>
              </table>
            </div>
   
            <!-- <div class="table-responsive table-inverse">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>#</th>
                    <th>Email User</th>
                    <th>User Type</th>
                    <th style="text-align:center">Action</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users; let i=index">
                    <td>{{i+1}}</td>                                        
                    <td>{{user.email}}</td>
                    <td>{{user.userType}}</td>
                    <td style="text-align:center">
                      <button type="button" class="btn btn-primary btn-circle btn-lg" routerLink="/userform"><i class="fa fa-pencil"></i></button>
                      <button type="submit" (click)="confirmDelete(user.idUser, user.email)" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>                  
                </tbody>
              </table>
              <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>                -->
    </div>