<app-topnav></app-topnav> 
<section id="team" class="pb-5">
  <div class="container-fluid">
      <p-growl [value]="msgs"></p-growl>
    
      <p-confirmDialog></p-confirmDialog>
    <h1>List Client</h1>
    <br><br><br><br><br><br><br><br>
          <div class="float-left" >
              <button type="submit" class="btn btn-primary" routerLink="/client/form">Create New Client</button>                        
          </div>          

          <div class="form-group has-search float-right">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control col-sm-12" placeholder="Search">
          </div>          

          <div class="table-inverse">
              <table class="table">              
            <p-dataTable  sortMode="multiple" [value]="logos" [rows]="10" [responsive]="true" [paginator]="true" [stacked]="stacked" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20,50]" [globalFilter]="gb">                      
                <p-column header="Number" [style]="{'width':'9%'}">
                    <ng-template let-i="rowIndex" pTemplate="body">
                      {{i+1}}  
                    </ng-template>
                </p-column>
                
                <p-column field="client.kodeClient" header="Client Code" [sortable]="true"></p-column>
                <p-column field="client.nama" header="Management Name" [sortable]="true"></p-column>
                <p-column field="logo" header="Logo">
                    <ng-template let-gbrlogo="rowData" pTemplate="body">
                      <div class="my-center-text">
                        <img src="data:image/png;base64,{{gbrlogo.logo}}" id="gambarlogo"/>
                      </div>
                    </ng-template>
                </p-column>                           
                <p-column field="aktif" header="Status" [sortable]="true">
                    <ng-template let-col let-client="rowData" pTemplate="body">
                      <div class="my-center-text">
                        <input type="checkbox" [disabled]="true" [checked]="client.client.aktif"/> Aktif
                      </div>
                    </ng-template>
                </p-column>
                <p-column field="" header="Action">

                  <ng-template let-c="rowData" pTemplate>
                    <div class="my-center-text">
                      <button type="button" class="btn btn-primary btn-circle btn-lg" routerLink="/client/form/{{c.client.idClient}}"><i class="fa fa-pencil"></i></button>
                      <button type="submit" (click)="confirmDelete(c.client.idClient, c.client.nama)" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-trash"></i></button>
                    </div>
                  </ng-template>
                </p-column>
            </p-dataTable>
            </table>
          </div>


 
          <!-- <div class="table-responsive table-inverse" >
          <table class="table"  >
              <thead class="thead-light">
                <tr >
                  <th>#</th>
                  <th>Client Code</th>
                  <th>Client Name</th>
                  <th>Logo Client</th>
                  <th>Status</th>
                  <th colspan="2" style="text-align:center">Action</th>                    
                </tr>
              </thead>
              <tbody>                
                <tr *ngFor=" let client of logos; let i=index">                                    
                  <td>{{i+1}}</td>                                                                                           
                  <td>{{client.client.kodeClient}}</td>
                  <td>{{client.client.nama}}</td>     
                  <td><img src="data:image/png;base64,{{client.logo}}" id="abc" style="max-height: 100px; max-width: 100px; "/> </td>
                  <td>                    
                      <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default active">
                          <span *ngIf="client.client.aktif == true">
                            <input type="checkbox" name="" id="" checked disabled> Aktif
                          </span>
                          <span *ngIf="client.client.aktif == false">
                              <input type="checkbox" name="" id="" disabled> Tidak Aktif
                            </span>
                        </label>                     
                      </div>                    
                    </td>
                    <td style="text-align:center">
                      <button type="button" class="btn btn-primary btn-circle btn-lg" routerLink="/clientform"><i class="fa fa-pencil"></i></button>
                      <button type="button" (click)="confirmDelete(client.client.idClient, client.client.nama)" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>                                               

              </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active"><a class="page-link">1</a></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div> -->        
  </div>
</section>
<app-footer></app-footer>