<app-topnav></app-topnav> 
<section id="team" class="pb-5">
    <div class="container-fluid">
        <p-growl [value]="msgs"></p-growl>       
    
        <p-confirmDialog></p-confirmDialog>
      <h1>List Task Type</h1>
      
            <div class="float-left" >
                <button type="submit" class="btn btn-primary" routerLink="/tasktype/form">Create New Task</button>                        
            </div>          
  
            <div class="form-group has-search float-right">                
              <span class="ui-float-label ">
                  <input #gb id="float-input" type="text" size="30" pInputText> 
                  <label for="float-input" class="fa fa-search">Search</label>
              </span>
            </div>

            <div class="table-inverse">
              <table class="table">              
                <p-dataTable sortMode="multiple" [value]="tasks" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20,50]" [globalFilter]="gb">    
                    <p-column header="Number" [style]="{'width':'9%'}">
                        <ng-template let-i="rowIndex" pTemplate="body">
                          {{i+1}}  
                        </ng-template>
                    </p-column>
                    <!-- <p-column field="idUser" header="User"></p-column> -->
                    <p-column field="kodeTask" header="Task Code" [sortable]="true"></p-column>
                    <p-column field="jenisTask" header="Task Type" [sortable]="true"></p-column>
                    <p-column field="" header="Action">

                      <ng-template let-tsk="rowData" pTemplate>
                        <div class="my-center-text">
                          <button type="button" class="btn btn-primary btn-circle btn-lg" routerLink="/tasktype/form/{{tsk.idTask}}"><i class="fa fa-pencil"></i></button>
                          <button type="submit" (click)="confirmDelete(tsk.idTask, tsk.kodeTask, tsk.jenisTask)" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-trash"></i></button>
                        </div>
                      </ng-template>
                    </p-column>
                </p-dataTable>
              </table>
            </div>
   
            <!-- <div class="table-responsive table-inverse">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>#</th>
                    <th>Task Code</th>
                    <th>Task Type</th>                    
                    <th style="text-align:center">Action</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks; let i=index">
                    <td>{{i+1}}</td>                                        
                    <td>{{task.kodeTask}}</td>
                    <td>{{task.jenisTask}}</td>
                    <td style="text-align:center">
                      <button type="button" class="btn btn-primary btn-circle btn-lg" routerLink="/task/form"><i class="fa fa-pencil"></i></button>
                      <button type="button" (click)="confirmDelete(task.idTask, task.kodeTask, task.jenisTask)" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>                  
                </tbody>
              </table>
              <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>                -->
    </div>