<app-topnav></app-topnav> 
<section id="team" class="pb-5">

    <div class="container-fluid">

        <p-growl [value]="msgs"></p-growl>       
    
        <p-confirmDialog></p-confirmDialog>            

      <div class="col-sm-6 mx-auto">
        <div class="card shadow-lg ">       
          <div class="card-header">
              <h2 class="card-title" id="createnewtask">Create New Task Type</h2>
              <h2 class="card-title" id="updatetask">Update Task Type</h2>
          </div>   
          <div class="card-body">            
            <form [formGroup]="taskForm" class="justify-content-center"  (ngSubmit)="onFormSubmit()" action="/userindex">
              <div class="form-group row">
                <div class="col-sm-4" align="right">
                  <label for="emailuser">Task Code <font color="red">*)</font></label>            
                </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control"  formControlName="idTask" hidden>
                    <input type="text" class="form-control" id="emailuser" formControlName="kodeTask" placeholder="Input task code here" required>
                    <br>
                  </div>
                        
                
                <div class="col-sm-4" align="right">
                  <label for="User Type">Task Type 
                    <font color="red">*)</font></label>
                </div>
                              
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="emailuser" formControlName="jenisTask" placeholder="Input task type here" required>
                    <br>
                  </div>
            
              </div>  
              
              <div class="col-sm-8" align="right">
                <button type="submit" class="btn btn-primary">Submit</button>   
                <button type="submit" class="btn btn-primary" routerLink="/tasktype">Cancel</button>                       
              </div>        
         </form>           
          </div>
        </div>
      </div>      
    </div>
    </section>
    
    
    