<section id="team" class="pb-5">
    <div class="container-fluid">
        <p-growl [value]="msgs"></p-growl>
    
        <p-confirmDialog></p-confirmDialog>
      <h1>List Payroll Specialist</h1>
      <br><br><br><br><br><br><br><br>
            <div class="float-left" >
                <button type="submit" class="btn btn-primary" routerLink="/payroll/form">Create New Payroll Specialist</button>                        
            </div>          
  
            <div class="form-group has-search float-right">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control col-sm-12" placeholder="Search">
              </div>
   
            <div class="table-responsive table-inverse">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>#</th>
                    <th>Payroll Specialist Code</th>
                    <th>Payroll Specialist Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Telephone Number</th>
                    <th>Status</th>                    
                    <th colspan="2" style="text-align:center">Action</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let payroll of payrolls; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{payroll.kodePs}}</td>
                    <td>{{payroll.nama}}</td>
                    <td>{{payroll.alamat}}</td>
                    <td>{{payroll.user.email}}</td>
                    <td>{{payroll.telp}}</td>
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-default active">
                        <input type="checkbox" name="" id="" checked disabled> Aktif
                      </label>                     
                    </div>                    
                    <td style="text-align:center">
                      <button type="button" class="btn btn-primary btn-circle btn-lg" routerLink="/payrollform"><i class="fa fa-pencil"></i></button>
                      <button type="button" (click)="confirmDelete(payroll.idPs, payroll.nama)" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>                                                                
                </tbody>
              </table>

              <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>            
    </div>