<section id="team" class="pb-5">
    <div class="container-fluid">
        <div class="alert alert-danger" role="alert" style="display:none;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            data failed to create! please check your input!
          </div>
        <div class="alert alert-success" role="alert" style="display:none;"><i class="fa fa-check" aria-hidden="true"></i>
            data successfully created!
          </div>
          
      <h1>Report By Company</h1>      
      <form class="justify-content-center">      
          <div class="form-group row">                                                                            
              <div class="col-sm-4"  align="right">
                  <label for="month">Month </label>                  
                </div>
                              
                <div class="col-sm-4">
                  <select id="usertype" name="month">
                    <option value="">-- Select Month Here --</option>
                    <option value="january">January</option>
                    <option value="february">February</option>
                    <option value="march">March</option>
                    <option value="april">April</option>
                    <option value="may">May</option>
                    <option value="june">June</option>
                    <option value="july">July</option>
                    <option value="august">August</option>
                    <option value="october">October</option>
                    <option value="september">September</option>                   
                  </select>
                  <br><br>
                </div>              
              
                <div class="col-sm-4 idexist" style="display:block;"></div>     
                                                                                                        
                  <div class="col-sm-4"  align="right">
                      <label for="year">Year </label>                  
                    </div>
                                  
                    <div class="col-sm-4">
                      <select id="year" name="year">
                        <option value="">-- Select Year --</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                      </select>
                      <br><br>
                    </div>              
                
          </div>                        
          
     </form>              


     <div class="table-responsive table-inverse">
      <table class="table">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Client Name</th>              
              <th>Task Type</th>
              <th>Month</th>
              <th>Year</th>             
              <th>Status Task</th>              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i=index">
              <td>{{i+1}}</td>                                        
              <td>{{user.email}}</td>
              <td>{{user.userType}}</td>
              <td style="text-align:center">
                <button type="button" class="btn btn-primary btn-circle btn-lg" routerLink="/userform"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-trash"></i></button>
              </td>
            </tr>                  
          </tbody>
        </table>        
      </div>           


    </div>   